<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- anyChart -->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>

    <style>
        #container {
            width: 1820px;
            height: 800px;
            margin: 0;
            padding: 0;
        }

    </style>

    <script>
        function makeImage() {
            // ajax 방식으로 서버에 던짐
            $.ajax({
                url: "/getData", // 보내는 url
                type: "get", // 보내는 방식 post
                dataType: 'json', <!--서버로부터 받는 값의 데이터 형식-->
                contentType: "application/json;charset=utf-8", // 서버로부터 받는 값의 콘텐츠 형태(인코딩형태?)

                // ajax 로 성공적으로 데이터를 받는 경우 해당 데이터는 success 에 있는 function 을 타게 됨
                // 이때 매개변수로 들어오는 값이 곧 서버에서 받은 값!!
                success: function (result) {
                    // 서버에서 값을 받았음으로 loading 이미지는 필요없기 때문에 감추기!
                    $("#img").hide();

                    // 값을 출력할 container 모습 보이게 하기
                    $("#container").show();

                    // 서버에서 받은 result 라는 데이터를 String 형태로 만든후
                    // 다시 json 형태로 파싱하여 data 라는 변수에 저장한다.
                    var data = JSON.parse(JSON.stringify(result));
                    // console.log(data);

                    // anyChart 사용 => t : value
                    var chart = anychart.tagCloud(data);

                    // create and configure a color scale.
                    var customColorScale = anychart.scales.ordinalColor();
                    customColorScale.ranges([
                        {less: 300},
                        {from: 300, to: 400},
                        {from: 400, to: 500},
                        {greater: 600}
                    ]);
                    customColorScale.colors(["#a6a6a6", "#565656", "#262626", "#000000"]);

                    // set the color scale as the color scale of the chart
                    chart.colorScale(customColorScale);

                    // add and configure a color range
                    chart.colorRange().enabled(true);
                    chart.colorRange().length("90%");

                    chart.title("My Word Cloud");
                    chart.container("container");

                    chart.hovered().fill("#ff7575");
                    chart.mode("spiral");

                    // 글자 돌아가는거 막게
                    chart.angles([0]);

                    chart.draw();
                },
                // 에러가 발생하면 - 대체적으로 백엔드에서 null 값이 return 되는 경우 - 경고창
                error: function () {
                    alert("정상적이지 않은 요청입니다. 다시 시도해주세요")
                    location.reload();
                }
            })
        }
    </script>

</head>
<body>
<center>
    <div id="div">
        <div id="container" align="center"></div>
    </div>
    <button onclick="makeImage()">Generate</button>
</center>

</body>
</html>